{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="grid-portfolio" id="portfolio">
    <div class="container">
        <div class="row" id="contents">
            {% for post in object_list %}
            <div class="sinle_content col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="{% url 'single_post' post.id %}">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>{{ post.title }}</em></h1>
                                    <p>{{ post.title }}</p>
                                </div>
                            </div>
                        </a>
                        <div class="image">
                            <img src="{{ post.cover_image.url }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="spinner-border text-primary mt-2 not-visible" role="status" id="spinner">
                    <span class="sr-only">Yuklanmoqda...</span>
                </div>
                <div class="load-more-button" id="load-more">
                    <a href="#">Ko'proq yuklash</a>
                </div>
                <div class="alert alert-danger mt-2 not-visible" role="alert" id='alert'>
                    Maqolalar tugadi!
                </div>
            </div>
        </div>
        {{total_obj|json_script:"json-total"}}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/load-more.js' %}" defer></script>
{% endblock script %}