{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="video-container">
    <div class="video-overlay"></div>
    <div class="video-content">
        <div class="inner">
            <h1>Izlam<em>.uz</em></h1>
            <p>Mohira Eshpo‘latovaning shaxsiy blogi</p>
            <p>Welcome to my personal website</p>
            <div class="scroll-icon">
                <a class="scrollTo" data-scrollTo="portfolio" href="#"><img src="{% static 'img/scroll-icon.png' %}"
                        alt=""></a>
            </div>
        </div>
    </div>
    <video autoplay="" loop="" muted>
        <source src="{% static 'colors.mp4' %}" type="video/mp4" />
    </video>
</div>
<div class="grid-portfolio" id="portfolio">
    <div class="container">
        <div class="row">
            {% for post in object_list %}
            <div class="col-md-4 col-sm-6">
                <div class="portfolio-item">
                    <div class="thumb">
                        <a href="{% url 'single_post' post.id %}">
                            <div class="hover-effect">
                                <div class="hover-content">
                                    <h1>{{ post.title }}</em></h1>
                                    <p>Subheading</p>
                                </div>
                            </div>
                        </a>
                        <div class="image">
                            <img src="{{ post.cover_image.url }}">
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="load-more-button">
                    <a href="{% url 'post_list' %}">Barcha maqolalar</a>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}